<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esterlorente.jediapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <service android:name=".BoundService">
        <intent-filter>
            <action android:name="BOUNDSERVICE" />
        </intent-filter>
    </service>

    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="715f5a5fcc56c82419ae750f7ca7f729dcf6f506" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation" />

        <service android:name=".services.MediaPlayerService">
            <intent-filter>
                <action android:name="BOUNDSERVICE"></action>
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="715f5a5fcc56c82419ae750f7ca7f729dcf6f506" />
    </application>

</manifest>
